[Unit]
Description=RPC bind service
Requires=rpcbind.socket
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/sbin/rpcbind

[Install]
Also=rpcbind.socket
